# Note: If using this to allow for starting separate X server for games,
# You'll need to add pulse to the audio group to achieve any kind of performance. 
# Additonally, you'll need to remove the .so.6 files from the .steam/root directory if 
# You happen to be using those.
allowed_users=anybody
needs_root_rights = yes
